.form-container{
  min-height: 70vh;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 720px;
  margin: 10rem auto;
  padding: 1.25rem 1.5rem;
  background: #4c4c4c; /* gris oscuro */
  color: #f0f0f0; /* texto claro */
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
/* Título */
.form-login h2 {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  color: #fff;
}

/* Filas del formulario (tus <div>) */
.form-login > div {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

/* Label + elementos */
.form-login label {
  font-size: 1.1rem;
  color: #ddd;
}
.form-login input{
  font-size: 1.15rem;
}